* {
  margin:0;
  padding:0;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  min-height: 100%;
  margin: 0 auto;
  &-content {
    position: absolute;
    top: 280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@include adaptive(pad) {
  .wrapper {
    width: 98%;
    margin: 0 auto;
    &-content {
      position: absolute;
      flex-direction: column-reverse;
      top: 370px;
    }
  }
}
@include adaptive(mobile) {
  .wrapper {
    width: 100%;
    &-content {
      position: absolute;
      flex-direction: column-reverse;
    }
  }
}