.rewiew {
  position: relative;
  display: block;
  width: 98%;
  margin: 20px auto 0px;
  padding: 10px;
  //border: 2px solid $subcolor;
  background-color: $bg-color;
  border-radius: 10px;
  &__name {
    font: {
      family: $font;
      size: 1.3em;
      weight: 500;
    }
    color: #ffffff;
    margin-bottom: 10px;
    padding: 20px 30px 10px;
    background-color: $subcolor;
    border-radius: 10px;
  }
  &__text {
    font: {
      family: $font;
      size: 1.2em;
      weight: 400;
    }
    border-radius: 10px;
    margin-top: 30px;
  }
  &__answer {
    font: {
      family: $font;
      size: 1.2em;
      weight: 400;
    }
    border-radius: 10px;
    margin-top: 30px;
  }
  @include adaptive(mobile) {
    padding: 0px;
  }
}