.news {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  &__item {
    position: relative;
    width: 48%;
    height: 150px;
    margin: 5px 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: $bg-color;
    border: 1px solid $bg-color;
    border-radius: 5px;
    &--index {
      width: 32%;
      height: 200px;
      &:nth-child(n+4) {
        display: none;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    position: absolute;
    display: block;
    right: 0;
    padding-right: 10px;
  }
  &__title {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000000;
    &:hover {
      text-decoration: underline;
      color: $subcolor;
      transition:0.5s ease-in-out;
    }
  }
  &__link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #000000;
    &:hover {
      text-decoration: underline;
      color: $subcolor;
      transition:0.5s ease-in-out;
    }
  }
  &__page {
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
  }
}
@include adaptive(pad) {
  .news {
    &__item {
      &--index {
        width: 49%;
        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
}
@include adaptive(mobile) {
  .news {
    &__item {
      width: 100%;
      height: 200px;
      &--index {
        width: 100%;
      }
    }
  }
}