.table {
  display: table;
  width: 85%;
  margin: 15px auto;
  &__caption {
    display: table-caption;
    caption-side: top;
  }
  &__row {
    display: table-row;
    &:nth-child(odd) {
      background: #badec4;
    }
  }
  &__cell {
    display: table-cell;
    padding: 10px 15px;
    font: {
      family: $font;
      size: 1em;
      weight: 400;
    }
    &--price {
      text-align: center;
    }
  }
  &__header {
    display: table-header-group;
    font: {
      family: $font-title;
      size: 1em;
      weight: 400;
    }
    text-align: center;
  }
  &__footer {
    display: table-footer-group;
  }
  &__column {
    display: table-column;
    width: 25%;
  }
}
@include adaptive(pad) {
  .table {
    &--buttons {
      width: 100%;
    }
  }
}
@include adaptive(mobile) {
  .table {
    width: 100%;
    &__cell {
      font-size: 0.9em;
      padding: 10px 5px;
    }
  }
}