.gallery__tag {
  display: inline-block;

  font: {
    family: inherit;
    size: 1em;
    weight: inherit;
  }
  color: #222;
  text-decoration: none;

  padding: 5px 10px;
  margin: 0 5px 5px 0;

  background-color: $mediumgray;
  border-radius: 5px;


  &:hover {
    background-color: #b3b3b3;
  }
}