.auth {
    &__wrapper {
        padding-top: 25px;
        padding-bottom: 130px;
        color: #666;
        background-color: #eaeaeb;
        min-height: calc(100vh);
        margin: 0;
        box-sizing: border-box;
    }

    &__content {
        max-width: 1220px;
        margin: 0 auto;
        padding: 100px 10px 0px;
    }

    &__form-wrap {
        max-width: 440px;
        margin: 0 auto;
    }

    &__form {
        display: block;
        width: 100%;
        background-color: #ffffff;
        font: {
            family: $font;
            size: 1em;
            weight: 400;
        }
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px;
        padding: 30px;
        box-sizing: border-box;
    }
}
