.table {
    display: table;
    width: 85%;
    margin: 15px auto;

    &__caption {
        display: table-caption;
        caption-side: top;
    }

    &__cell {
        display: table-cell;
        padding: 10px 15px;
        font: {
            family: $font;
            size: 1em;
            weight: 400;
        }

        &--center {
            text-align: center;
        }
    }

    &__column {
        display: table-column;
        width: 25%;

        &-prokat--srok {
            width: 20%;
        }
    }

    &__footer {
        display: table-footer-group;
    }

    &__header {
        display: table-header-group;
        font: {
            family: $font-title;
            size: 1em;
            weight: 400;
        }
        text-align: center;

        > .table__cell {
            vertical-align: middle;
        }
    }

    &__row {
        display: table-row;

        &:nth-child(odd) {
            background: #badec4;
        }
    }
}

@include adaptive(pad) {
    .table {
        &__header {
            font-size: 0.9em;
        }

        &__cell {
            font-size: 0.9em;
        }
    }
}

@include adaptive(mobile) {
    .table {
        width: 100%;

        &__header {
            font-size: 0.8em;
        }

        &__cell {
            font-size: 0.8em;
            padding: 10px 5px;
        }
    }
}
