.news__link {
  position: absolute;
  bottom: 10px;
  right: 10px;

  text-decoration: none;
  color: inherit;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    color: $subcolor;
    transition:0.5s ease-in-out;
  }
}