.left-nav {
  display: flex;
  flex-direction: column;
  //width: 200px;
    &__link {
      font: {
        family: $font;
        style: normal;
        size: 1em;
        weight: 400;
      }
      text-align: center;
      width: 200px;
      color: $subcolor;
      text-decoration: none;
      padding: 3px 0;
      margin: 3px 3px;
      border: 1px solid $subcolor;
      border-radius: 5px;
        &:hover {
          //text-decoration: underline;
          border: 1px solid $subcolor;
          background: $subcolor;
          color: #ffffff;
        }
    }
}
@include adaptive(pad) {
  .left-nav {
    flex-direction: row;
    flex-wrap: wrap;
    font: {
      size: 0.9em;
    }
  }
    &__link {
      width: auto;
      padding: 0 3px;
      margin: 0 3px;
    }
}
@include adaptive(mobile) {
  .left-nav {
    flex-direction: row;
    flex-wrap: wrap;
    font: {
      size: 0.8em;
    }
    &__link {
      text-align: left;
      padding: 0 3px;
      margin: 0 3px;
      width: auto;
    }
  }
}