.index-message {
  display: flex;
  flex-direction: column;

  padding: 10px;
  margin-bottom: 20px;

  border: 1px solid $subcolor;
  border-radius: 5px;

  &__holiday {
    font-family: $font;
    font-size: 1.3em;
    font-weight: 700;

    color: $redcolor;
    text-align: center;
  }

  &__text {
    font-family: $font;
    font-size: 1.1em;
    font-weight: 400;

    color: #000000;
    text-align: center;
    margin-bottom: 10px;
  }

  &__title {

    font-family: $font;
    font-size: 1.3em;
    font-weight: 700;

    color: $redcolor;
    text-align: center;

    padding: 10px;
  }
}

@include adaptive(mobile) {
  .index-message {
    padding: 5px;

    &__holiday {
      font-size: 1em;
    }

    &__text {
      font-size: 0.9em;
      text-align: center;
    }
  }
}
