#Страницы ошибок
ErrorDocument 403 /backend/errors/403.php
ErrorDocument 404 /backend/errors/404.php
ErrorDocument 500 /backend/errors/500.php

RewriteEngine On  # Если этой строки нет выше
RewriteBase /
#RewriteCond %{HTTP:X-Forwarded-Protocol} !=https
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

AddType application/x-httpd-php .html .htm

#Правила для удаления расширений имен файлов в ссылках
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

#Карточки для отдельных товаров
RewriteRule ^product/([^/]+)/?$ /content/autobagazhniki/backend/product.php?id=$1

#Новости
RewriteRule ^news/1 news.php?page=1
RewriteRule ^news/2 news.php?page=2
RewriteRule ^news/([a-zA-Z0-9_-]+)/? news.php?newspage=$1

#Ссылки на заказ товаров
RewriteRule ^buy/([^/]+)/? /backend/buy.php?id=$1 [L]

#Ссылки на прокат товаров
RewriteRule ^prokat/([a-zA-Z0-9_-]+)/? prokat.php?id=$1

#Страницы заказов
RewriteRule ^zakaz scripts/zakaz.php
RewriteRule ^vprokat scripts/prokatsend.php
RewriteRule ^help scripts/help.php
RewriteRule ^rewiew scripts/rewiew.php
RewriteRule ^call scripts/call.php

#Правила для разделов
RewriteRule ^podbor index.php?page=podbor [L]
RewriteRule ^contacts index.php?page=contacts [L]

RewriteRule ^autobox/yuago autobox.php?autobox=yuago [L]
RewriteRule ^autobox/turino autobox.php?autobox=turino [L]
RewriteRule ^autobox/lux autobox.php?autobox=lux [L]
RewriteRule ^autobox/atlant autobox.php?autobox=atlant [L]
RewriteRule ^autobox/vetlan autobox.php?autobox=vetlan [L]

RewriteRule ^velokreplenya/krysha velokreplenya.php?velokreplenya=velokreplenya_na_kryshy [L]
RewriteRule ^velokreplenya/farkop velokreplenya.php?velokreplenya=velokreplenya_na_farkop [L]

RewriteRule ^inno/inno-basic inno.php?inno=inno-basic [L]
RewriteRule ^inno/inno-boxes inno.php?inno=inno-boxes [L]
RewriteRule ^inno/new-shadow inno.php?inno=new-shadow [L]
RewriteRule ^inno/roofbox inno.php?inno=roofbox [L]

RewriteRule ^takelazh/textil_strops takelazh.php?takelazh=textil_strops [L]
RewriteRule ^takelazh/dynamic_strops takelazh.php?takelazh=dynamic_strops [L]

RewriteRule ^reelings/lada reelings.php?reelings=lada [L]
RewriteRule ^reelings/chevrolet reelings.php?reelings=chevrolet [L]
RewriteRule ^reelings/renault reelings.php?reelings=renault [L]
RewriteRule ^reelings/kia reelings.php?reelings=kia [L]
RewriteRule ^reelings/mazda reelings.php?reelings=mazda [L]
RewriteRule ^reelings/hyundai reelings.php?reelings=hyundai [L]
RewriteRule ^reelings/opel reelings.php?reelings=opel [L]
RewriteRule ^reelings/toyota reelings.php?reelings=toyota [L]
RewriteRule ^reelings/landrover reelings.php?reelings=landrover [L]
RewriteRule ^reelings/datsun reelings.php?reelings=datsun [L]
RewriteRule ^reelings/xray reelings.php?reelings=xray [L]
RewriteRule ^reelings/largus reelings.php?reelings=largus [L]
RewriteRule ^reelings/granta-liftback reelings.php?reelings=granta_liftbek [L]
RewriteRule ^reelings/granta-e reelings.php?reelings=granta-e [L]
RewriteRule ^reelings/granta-kalina-sedan reelings.php?reelings=granta-kalina-sedan [L]
RewriteRule ^reelings/kalina-xetchbek reelings.php?reelings=kalina-xetchbek [L]
RewriteRule ^reelings/kalina-universal reelings.php?reelings=kalina-universal [L]
RewriteRule ^reelings/4x4 reelings.php?reelings=4x4 [L]
RewriteRule ^reelings/l4x4 reelings.php?reelings=l4x4 [L]
RewriteRule ^reelings/chevi-m reelings.php?reelings=chevi-m [L]
RewriteRule ^reelings/chevi-l reelings.php?reelings=chevi-l [L]
RewriteRule ^reelings/kaptur reelings.php?reelings=kaptur [L]
RewriteRule ^reelings/logan reelings.php?reelings=logan [L]
RewriteRule ^reelings/new-logan reelings.php?reelings=new-logan [L]
RewriteRule ^reelings/sandero reelings.php?reelings=sandero [L]
RewriteRule ^reelings/new-sandero reelings.php?reelings=new-sandero [L]
RewriteRule ^reelings/ceed reelings.php?reelings=ceed [L]
RewriteRule ^reelings/new-ceed reelings.php?reelings=new-ceed [L]
RewriteRule ^reelings/three reelings.php?reelings=three [L]
RewriteRule ^reelings/cx5-1 reelings.php?reelings=cx5-1 [L]
RewriteRule ^reelings/cx5-2 reelings.php?reelings=cx5-2 [L]
RewriteRule ^reelings/creta reelings.php?reelings=creta [L]
RewriteRule ^reelings/solaris reelings.php?reelings=solaris [L]
RewriteRule ^reelings/i30 reelings.php?reelings=i30 [L]
RewriteRule ^reelings/astra reelings.php?reelings=astra [L]
RewriteRule ^reelings/rav4-3 reelings.php?reelings=rav4-3 [L]
RewriteRule ^reelings/rav4-4 reelings.php?reelings=rav4-4 [L]
RewriteRule ^reelings/prado150 reelings.php?reelings=prado150 [L]
RewriteRule ^reelings/freelander2 reelings.php?reelings=freelander2 [L]
RewriteRule ^reelings/on-do reelings.php?reelings=on-do [L]
RewriteRule ^reelings/mi-do reelings.php?reelings=mi-do [L]

