#Страницы ошибок
ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php

RewriteEngine On  # Если этой строки нет выше
#RewriteCond %{HTTP:X-Forwarded-Protocol} !=https
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

AddType application/x-httpd-php .html .htm

#Правила для удаления расширений имен файлов в ссылках
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteRule ^autobagazhniki /content/autobagazhniki/autobagazhniki.php
RewriteRule ^braslets /content/braslets/braslets.php
RewriteRule ^kreplenya-dlya-lyzh-shoubord /content/lyzhnye-kreplenya/kreplenya-dlya-lyzh-shoubord.php
RewriteRule ^product/([^/]+)/?$ /content/autobagazhniki/backend/product.php?id=$1

#Правила для переадресации страниц
#Автобагажники
#RewriteRule ^buy /backend/buy.php
RewriteRule ^buy/([^/]+)/?$ /backend/buy.php?id=$1 [L]

#RewriteRule ^prokat /backend/prokat.php

RewriteRule ^prokat/ab1 prokat.php?id=ab1
RewriteRule ^prokat/ab2 prokat.php?id=ab2
RewriteRule ^prokat/ab3 prokat.php?id=ab3
RewriteRule ^prokat/ab4 prokat.php?id=ab4
RewriteRule ^prokat/400Mblack prokat.php?id=400Mblack
RewriteRule ^prokat/400Mgray prokat.php?id=400Mgray
RewriteRule ^prokat/400Mwhite prokat.php?id=400Mwhite
RewriteRule ^prokat/430Mblack prokat.php?id=430Mblack
RewriteRule ^prokat/430Mgray prokat.php?id=430Mgray
RewriteRule ^prokat/430Mwhite prokat.php?id=430Mwhite
RewriteRule ^prokat/550Mblack prokat.php?id=550Mblack
RewriteRule ^prokat/550Mgray prokat.php?id=550Mgray
RewriteRule ^prokat/550Mwhite prokat.php?id=550Mwhite
RewriteRule ^prokat/vk1 prokat.php?id=vk1
RewriteRule ^prokat/vk2 prokat.php?id=vk2
RewriteRule ^prokat/vk3 prokat.php?id=vk3
RewriteRule ^prokat/vk4 prokat.php?id=vk4
RewriteRule ^prokat/vf1 prokat.php?id=vf1
RewriteRule ^prokat/vf2 prokat.php?id=vf2
RewriteRule ^prokat/amos34 prokat.php?id=amos34
RewriteRule ^prokat/amos56 prokat.php?id=amos56
RewriteRule ^prokat/atlant34 prokat.php?id=atlant34
RewriteRule ^prokat/atlant56 prokat.php?id=atlant56
RewriteRule ^prokat/montblanc34 prokat.php?id=montblanc34
RewriteRule ^prokat/montblanc56 prokat.php?id=montblanc56
RewriteRule ^prokat/thule34 prokat.php?id=thule34
RewriteRule ^prokat/thule56 prokat.php?id=thule56
RewriteRule ^prokat/xtender prokat.php?id=xtender
RewriteRule ^prokat/r12 prokat.php?id=r12
RewriteRule ^prokat/r16 prokat.php?id=r16
RewriteRule ^prokat/gazel prokat.php?id=gazel
RewriteRule ^prokat/stay_set_su prokat.php?id=stay_set_su
RewriteRule ^prokat/stay_set_fr prokat.php?id=stay_set_fr
RewriteRule ^prokat/stay_set_xr prokat.php?id=stay_set_xr
RewriteRule ^prokat/stay_set prokat.php?id=stay_set
RewriteRule ^prokat/xs100 prokat.php?id=xs100
RewriteRule ^prokat/xs200 prokat.php?id=xs200
RewriteRule ^prokat/xs300 prokat.php?id=xs300
RewriteRule ^prokat/xs400 prokat.php?id=xs400

#Новости
RewriteRule ^news/postuplenya_amos news.php?newspage=postuplenya_amos
RewriteRule ^news/reelings_xray news.php?newspage=reelings_xray
RewriteRule ^news/mayskie_prazdniki news.php?newspage=mayskie_prazdniki
RewriteRule ^news/rozygryzh_bagazhnika news.php?newspage=rozygryzh_bagazhnika
RewriteRule ^news/braslety news.php?newspage=braslety
RewriteRule ^news/itogi_rozygryzha news.php?newspage=itogi_rozygryzha
RewriteRule ^news/postuplenya_avtoboksov news.php?newspage=postuplenya_avtoboksov
RewriteRule ^news/rozygryzh_velokreplenya news.php?newspage=rozygryzh_velokreplenya
RewriteRule ^news/akcia_na_boksy news.php?newspage=akcia_na_boksy
RewriteRule ^news/12_june news.php?newspage=12_june
RewriteRule ^news/cenopad news.php?newspage=cenopad
RewriteRule ^news/akcia_na_braslets news.php?newspage=akcia_na_braslets
RewriteRule ^news/oxota_na_autobagaz news.php?newspage=oxota_na_autobagaz
RewriteRule ^news/rozygryzh_montblanc news.php?newspage=rozygryzh_montblanc
RewriteRule ^news/result_rozygryzh_montblanc news.php?newspage=result_rozygryzh_montblanc
RewriteRule ^news/1 news.php?page=1
RewriteRule ^news/2 news.php?page=2

#Страницы заказов
RewriteRule ^zakaz scripts/zakaz.php
RewriteRule ^vprokat scripts/prokatsend.php
RewriteRule ^help scripts/help.php
RewriteRule ^rewiew scripts/rewiew.php
RewriteRule ^call scripts/call.php

#Правила для разделов
RewriteRule ^podbor index.php?page=podbor [L]
RewriteRule ^contacts index.php?page=contacts [L]

RewriteRule ^autobox/yuago autobox.php?autobox=yuago [L]
RewriteRule ^autobox/turino autobox.php?autobox=turino [L]
RewriteRule ^autobox/lux autobox.php?autobox=lux [L]
RewriteRule ^autobox/atlant autobox.php?autobox=atlant [L]
RewriteRule ^autobox/vetlan autobox.php?autobox=vetlan [L]

RewriteRule ^velokreplenya/krysha velokreplenya.php?velokreplenya=velokreplenya_na_kryshy [L]
RewriteRule ^velokreplenya/farkop velokreplenya.php?velokreplenya=velokreplenya_na_farkop [L]

RewriteRule ^inno/inno-basic inno.php?inno=inno-basic [L]
RewriteRule ^inno/inno-boxes inno.php?inno=inno-boxes [L]
RewriteRule ^inno/new-shadow inno.php?inno=new-shadow [L]
RewriteRule ^inno/roofbox inno.php?inno=roofbox [L]

RewriteRule ^takelazh/textil_strops takelazh.php?takelazh=textil_strops [L]
RewriteRule ^takelazh/dynamic_strops takelazh.php?takelazh=dynamic_strops [L]

RewriteRule ^reelings/lada reelings.php?reelings=lada [L]
RewriteRule ^reelings/chevrolet reelings.php?reelings=chevrolet [L]
RewriteRule ^reelings/renault reelings.php?reelings=renault [L]
RewriteRule ^reelings/kia reelings.php?reelings=kia [L]
RewriteRule ^reelings/mazda reelings.php?reelings=mazda [L]
RewriteRule ^reelings/hyundai reelings.php?reelings=hyundai [L]
RewriteRule ^reelings/opel reelings.php?reelings=opel [L]
RewriteRule ^reelings/toyota reelings.php?reelings=toyota [L]
RewriteRule ^reelings/landrover reelings.php?reelings=landrover [L]
RewriteRule ^reelings/datsun reelings.php?reelings=datsun [L]
RewriteRule ^reelings/xray reelings.php?reelings=xray [L]
RewriteRule ^reelings/largus reelings.php?reelings=largus [L]
RewriteRule ^reelings/granta-liftback reelings.php?reelings=granta_liftbek [L]
RewriteRule ^reelings/granta-e reelings.php?reelings=granta-e [L]
RewriteRule ^reelings/granta-kalina-sedan reelings.php?reelings=granta-kalina-sedan [L]
RewriteRule ^reelings/kalina-xetchbek reelings.php?reelings=kalina-xetchbek [L]
RewriteRule ^reelings/kalina-universal reelings.php?reelings=kalina-universal [L]
RewriteRule ^reelings/4x4 reelings.php?reelings=4x4 [L]
RewriteRule ^reelings/l4x4 reelings.php?reelings=l4x4 [L]
RewriteRule ^reelings/chevi-m reelings.php?reelings=chevi-m [L]
RewriteRule ^reelings/chevi-l reelings.php?reelings=chevi-l [L]
RewriteRule ^reelings/kaptur reelings.php?reelings=kaptur [L]
RewriteRule ^reelings/logan reelings.php?reelings=logan [L]
RewriteRule ^reelings/new-logan reelings.php?reelings=new-logan [L]
RewriteRule ^reelings/sandero reelings.php?reelings=sandero [L]
RewriteRule ^reelings/new-sandero reelings.php?reelings=new-sandero [L]
RewriteRule ^reelings/ceed reelings.php?reelings=ceed [L]
RewriteRule ^reelings/new-ceed reelings.php?reelings=new-ceed [L]
RewriteRule ^reelings/three reelings.php?reelings=three [L]
RewriteRule ^reelings/cx5-1 reelings.php?reelings=cx5-1 [L]
RewriteRule ^reelings/cx5-2 reelings.php?reelings=cx5-2 [L]
RewriteRule ^reelings/creta reelings.php?reelings=creta [L]
RewriteRule ^reelings/solaris reelings.php?reelings=solaris [L]
RewriteRule ^reelings/i30 reelings.php?reelings=i30 [L]
RewriteRule ^reelings/astra reelings.php?reelings=astra [L]
RewriteRule ^reelings/rav4-3 reelings.php?reelings=rav4-3 [L]
RewriteRule ^reelings/rav4-4 reelings.php?reelings=rav4-4 [L]
RewriteRule ^reelings/prado150 reelings.php?reelings=prado150 [L]
RewriteRule ^reelings/freelander2 reelings.php?reelings=freelander2 [L]
RewriteRule ^reelings/on-do reelings.php?reelings=on-do [L]
RewriteRule ^reelings/mi-do reelings.php?reelings=mi-do [L]

