#Страницы ошибок
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

RewriteEngine On  # Если этой строки нет выше
#RewriteCond %{HTTP:X-Forwarded-Protocol} !=https
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

AddType application/x-httpd-php .html .htm

#Правила для удаления расширений имен файлов в ссылках
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

#Правила для переадресации страниц
#Автобагажники
RewriteRule ^buy/ab1 scripts/buy.php?id=ab1
RewriteRule ^buy/ab2 scripts/buy.php?id=ab2
RewriteRule ^buy/ab3 scripts/buy.php?id=ab3
RewriteRule ^buy/ab4 scripts/buy.php?id=ab4
RewriteRule ^buy/yuago scripts/buy.php?id=yuago
RewriteRule ^buy/turino scripts/buy.php?id=turino
RewriteRule ^buy/lux600blackmetal scripts/buy.php?id=lux600blackmetal
RewriteRule ^buy/lux600blackfrosted scripts/buy.php?id=lux600blackfrosted
RewriteRule ^buy/lux600white scripts/buy.php?id=lux600white
RewriteRule ^buy/lux960blackfrosted scripts/buy.php?id=lux960blackfrosted
RewriteRule ^buy/lux960blackmetal scripts/buy.php?id=lux960blackmetal
RewriteRule ^buy/lux960white scripts/buy.php?id=lux960white
RewriteRule ^buy/dc320 scripts/buy.php?id=dc320
RewriteRule ^buy/dc430 scripts/buy.php?id=dc430
RewriteRule ^buy/dc500 scripts/buy.php?id=dc500
RewriteRule ^buy/ds431 scripts/buy.php?id=ds431
RewriteRule ^buy/ds501 scripts/buy.php?id=ds501
RewriteRule ^buy/dynamic434 scripts/buy.php?id=dynamic434
RewriteRule ^buy/dynamic504 scripts/buy.php?id=dynamic504
RewriteRule ^buy/airtek435 scripts/buy.php?id=airtek435
RewriteRule ^buy/airtek505 scripts/buy.php?id=airtek505
RewriteRule ^buy/400Mblack scripts/buy.php?id=400Mblack
RewriteRule ^buy/400Mgray scripts/buy.php?id=400Mgray
RewriteRule ^buy/400Mwhite scripts/buy.php?id=400Mwhite
RewriteRule ^buy/430Mblack scripts/buy.php?id=430Mblack
RewriteRule ^buy/430Mgray scripts/buy.php?id=430Mgray
RewriteRule ^buy/430Mwhite scripts/buy.php?id=430Mwhite
RewriteRule ^buy/550Mblack scripts/buy.php?id=550Mblack
RewriteRule ^buy/550Mgray scripts/buy.php?id=550Mgray
RewriteRule ^buy/550Mwhite scripts/buy.php?id=550Mwhite
RewriteRule ^buy/vk1 scripts/buy.php?id=vk1
RewriteRule ^buy/vk2 scripts/buy.php?id=vk2
RewriteRule ^buy/vk3 scripts/buy.php?id=vk3
RewriteRule ^buy/vk4 scripts/buy.php?id=vk4

RewriteRule ^prokat/ab1 prokat.php?id=ab1
RewriteRule ^prokat/ab2 prokat.php?id=ab2
RewriteRule ^prokat/ab3 prokat.php?id=ab3
RewriteRule ^prokat/ab4 prokat.php?id=ab4
RewriteRule ^prokat/400Mblack prokat.php?id=400Mblack
RewriteRule ^prokat/400Mgray prokat.php?id=400Mgray
RewriteRule ^prokat/400Mwhite prokat.php?id=400Mwhite
RewriteRule ^prokat/430Mblack prokat.php?id=430Mblack
RewriteRule ^prokat/430Mgray prokat.php?id=430Mgray
RewriteRule ^prokat/430Mwhite prokat.php?id=430Mwhite
RewriteRule ^prokat/550Mblack prokat.php?id=550Mblack
RewriteRule ^prokat/550Mgray prokat.php?id=550Mgray
RewriteRule ^prokat/550Mwhite prokat.php?id=550Mwhite
RewriteRule ^prokat/vk1 prokat.php?id=vk1
RewriteRule ^prokat/vk2 prokat.php?id=vk2
RewriteRule ^prokat/vk3 prokat.php?id=vk3
RewriteRule ^prokat/vk4 prokat.php?id=vk4

#Скидки
RewriteRule ^buy/s1 scripts/buy.php?id=s1
RewriteRule ^buy/s2 scripts/buy.php?id=s2
#Новости
RewriteRule ^news/postuplenya_amos news.php?newspage=postuplenya_amos
RewriteRule ^news/reelings_xray news.php?newspage=reelings_xray
RewriteRule ^news/mayskie_prazdniki news.php?newspage=mayskie_prazdniki
RewriteRule ^news/rozygryzh_bagazhnika news.php?newspage=rozygryzh_bagazhnika
RewriteRule ^news/braslety news.php?newspage=braslety
RewriteRule ^news/itogi_rozygryzha news.php?newspage=itogi_rozygryzha
RewriteRule ^news/postuplenya_avtoboksov news.php?newspage=postuplenya_avtoboksov
RewriteRule ^news/rozygryzh_velokreplenya news.php?newspage=rozygryzh_velokreplenya
RewriteRule ^news/akcia_na_boksy news.php?newspage=akcia_na_boksy
RewriteRule ^news/12_june news.php?newspage=12_june
RewriteRule ^news/cenopad news.php?newspage=cenopad
RewriteRule ^news/1 news.php?page=1
RewriteRule ^news/2 news.php?page=2
#Страницы заказов
RewriteRule ^zakaz scripts/zakaz.php
RewriteRule ^vprokat scripts/prokatsend.php
RewriteRule ^help scripts/help.php
RewriteRule ^rewiew scripts/rewiew.php

#Правила для разделов
RewriteRule ^gallery index.php?page=gallery [L]
RewriteRule ^komissionka index.php?page=komissionka [L]
RewriteRule ^podbor index.php?page=podbor [L]
RewriteRule ^contacts index.php?page=contacts [L]

RewriteRule ^yuago autobox?autobox=yuago [L]
RewriteRule ^turino autobox?autobox=turino [L]
RewriteRule ^lux autobox?autobox=lux [L]
RewriteRule ^atlant autobox?autobox=atlant [L]
RewriteRule ^vetlan autobox?autobox=vetlan [L]

RewriteRule ^velokreplenya_na_kryshy velokreplenya?velokreplenya=velokreplenya_na_kryshy [L]

RewriteRule ^kreplenya-dlya-lyzh-shoubord index.php?page=kreplenya-dlya-lyzh-shoubord [L]
RewriteRule ^reelings index.php?page=reelings [L]
RewriteRule ^braslets index.php?page=braslets [L]
RewriteRule ^farkops index.php?page=farkops [L]