.wrapper {
    width: 1220px;
    margin: 15px auto 30px auto;
    display: flex;
    justify-content: flex-start;

    &__content {
        margin-left: 15px;
        width: 100%;
    }
}

@include adaptive(pad) {
    .wrapper {
        width: 100%;
        flex-direction: column;

        &__content {
            margin-left: 0;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
}

@include adaptive(mobile) {
    .wrapper {
        width: 100%;
        flex-direction: column-reverse;
        margin: 15px auto 15px auto;

        &__content {
            margin-left: 0;
            padding: 0 15px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }
    }
}
