<div class="contacts__inn">
    <p class="text">Индивидуальный предприниматель: Зарубин Денис Юрьевич</p>
    <p class="text">ИНН 590850700022 ОГРНИП 316595800158377</p>
    <p class="text">р/с 40802810149770015620 в Пермском отделении №6984 ПАО Сбербанк России</p>
    <p class="text">БИК 045773603 к/с № 30101810900000000603</p>
    <p class="text">Свидетельство о регистрации 59 004723382 от 17.11.2016</p>
</div>