<div class="leftNavigation">
    <a href="/autobagazhniki" class="leftNavigation__link" target="_parent">Автобагажники</a>
    <a href="/autobox" class="leftNavigation__link" target="_parent">Автомобильные боксы</a>
    <a href="/velokreplenya" class="leftNavigation__link" target="_parent">Велокрепления</a>
    <a href="/kreplenya-dlya-lyzh-shoubord" class="leftNavigation__link" target="_parent">Крепления для лыж и сноубордов</a>
    <a href="/reelings" class="leftNavigation__link" target="_parent">Рейлинги</a>
    <a href="/braslets" class="leftNavigation__link" target="_parent">Браслеты противоскольжения</a>
    <a href="/farkops" class="leftNavigation__link" target="_parent">Фаркопы</a>
    <a href="/inno" class="leftNavigation__link" target="_parent">Багажные системы Inno</a>
    <a href="/takelazh" class="leftNavigation__link" target="_parent">Такелажная продукция</a>
    <a href="/expidition" class="leftNavigation__link" target="_parent">Экспедиционные багажники</a>
    <a href="/covers" class="leftNavigation__link" target="_parent">Авточехлы</a>
    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 3, width: "200", color3: '0A2A0A'}, 86325723);
    </script>
    <a href="/guestbook" class="leftNavigation__link" target="_parent">Оставить отзыв о нашей работе</a>
    <a href="/partners" class="leftNavigation__link" target="_parent">Наши партнеры</a>
    <a href="/sertificates" class="leftNavigation__link" target="_parent">Сертификаты и лицензии</a>
</div>