<h1 class="title title-h1">Компания Автобагаж</h1>
<h2 class="title title-h2">Режим работы для всех магазинов:</h2>

<p class="text">Пн - Пт с 10:00 до 19:00</p>
<p class="text">Сб - Вс с 10:00 до 18:00</p>

<div class="contacts">
    <a onclick="yaCounter40650914.reachGoal('write_mail'); return true"
       href="mailto:autobagaz@yandex.ru"
       class="contacts__link">
        Написать нам на autobagaz@yandex.ru
    </a>
</div>
