.admin {
  position: relative;
  display: block;

  margin: 20px auto;
  padding: 15px;

  border: 1px solid $mediumgray;
  border-radius: 5px;

  &__container {
    width: 1220px;
    margin: 15px auto 0;

    &--center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    display: block;
    width: 120px;
    margin: 10px 0;
    cursor: default;
  }

  .admin__item {
    margin: 10px 0;
    padding: 5px;
  }

  &__link {
    display: block;

    float: left;
    clear: both;

    font: {
      family: $font;
      size: 1em;
      weight: 500;
    }

    color: inherit;

    line-height: 24px;
    text-decoration: none;

    &--back {
      float: none;
      width: 300px;
      margin: 0 auto;
      text-align: center;
    }

    &:hover {
      color: $subcolor;
      transition: 0.5s ease-in-out;
    }
  }

  &__link-wrap {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid $mediumgray;
  }

  &__radio {
    margin-right: 10px;
  }
}

@include adaptive(mobile) {
  .admin__container {
    width: 100%;
    margin: 10px auto;
    padding: 0 10px 20px;
    box-sizing: border-box;
  }
}
