.auth {
  &__wrapper {
    padding-top: 25px;
    padding-bottom: 130px;
    color: #666666;
    background-color: #eaeaeb;
    min-height: calc(100vh - 215px);
    margin: 0;
  }

  &__content {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 8px;
  }

  &__title {
    color: #666;
    margin-bottom: 30px;
  }

  &__form-wrap {
    max-width: 440px;
    margin: 0 auto;
  }

  &__form {
    display: block;
    width: 100%;
    background-color: #ffffff;

    font: {
      family: $font;
      weight: normal;
      size: 1em;
    }

    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px;
    padding: 30px;
    box-sizing: border-box;
  }

  &__input {
    width: 100%;
    margin: 5px 0;
  }

  &__license {
    font-size: 0.85em;
  }

  &__error {
    display: block;
    width: 440px;
    margin: 25px auto 0;
    padding: 15px;

    font: {
      family: $font;
      size: 1em;
      weight: 400;
    }
    color: #333;

    box-sizing: border-box;
  }

  &__footer {
    background: $primarycolor;
    width: 100%;
  }
}
