.breadcrumbs {
  display: flex;
  width: 1220px;

  margin: 0 auto;
  padding: 10px 15px;
  background-color: $bg-color;

  box-sizing: border-box;

  &__link {
    font: {
      family: $font;
      size: 1em;
      weight: 400;
    }
    color: inherit;

    text-decoration: none;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font: {
      family: $font;
      size: 1em;
      weight: 400;
    }

    color: inherit;
    padding: 0 10px;
  }
}

@include adaptive(pad) {
  .breadcrumbs {
    flex-wrap: wrap;
    width: auto;
    margin: 15px 10px 0;

    &__link {
      font-size: 0.8em;
    }

    &__text {
      font-size: 0.8em;
    }
  }
}

@include adaptive(mobile) {
  .breadcrumbs {
    display: none;
  }
}
