.catalog {
  position: relative;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $bg-color;
  margin-bottom: 30px;

  &__image-wrap {
    margin: 0 auto;
  }

  &__image {
    text-align: center;
    width: 100%;
  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 190px;
    height: 250px;

    background-color: #ffffff;
    border: 2px solid #D8D8D8;

    margin: 10px;
    padding: 10px;

    box-sizing: border-box;
    z-index: 1;

    &--velo {
      height: 310px;
      justify-content: space-between;
    }
  }

  &__item-link {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;

    &:hover {
      box-shadow: 0 0  10px 5px #A4A4A4;
    }
  }

  &__text {
    text-align: center;
  }
}

@include adaptive(mobile) {
  .catalog {
    margin: 0 -15px 30px -15px;

    &__image {
      width: 100%;
    }

    &__item {
      width: 46%;
      padding: 0;
      margin: 5px;
    }
  }
}
