.good-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 2px solid $mediumgray;
  border-radius: 5px;

  margin: 10px;
  padding: 10px;

  width: 250px;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@include adaptive(mobile) {
  .good-mini {
    width: 100%;
  }
}
