.prokat-docs {
  border: 1px solid $mediumgray;
  border-radius: 5px;

  margin: 10px;
  padding: 10px;

  & a {
    display: inline-block;
    margin: 7px;
    text-decoration: none;
  }

  & i {
    margin: 7px;
  }
}