.sales {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__description {
    margin-top: 10px;
    text-align: center;
  }

  &__img {
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
  }

  &__item-button {
    width: 150px;
    margin: 0 auto;
  }

  &__item-price {
    margin: 10px 0;
  }

  &__price {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;

    color: inherit;

    &--strike {
      position: relative;
      display: inline-block;

      &::before {
        position: absolute;
        content: '';
        top: 10px;
        width: 100%;
        background-color: red;
        height: 3px;
        transform: rotate(-10deg);
      }
    }
  }
}

@include adaptive(pad) {
  .sales {
    justify-content: space-between;

    &__item {
      margin: 0 0 15px 0;
    }
  }
}

@include adaptive(mobile) {
  .sales__item {
    width: 98%;
    margin: 5px;
  }
}
