.tabs {
  display: flex;
  background-color: $bg-color;
  margin-bottom: 20px;

  &__item {
    font-family: $font;
    font-size: 1em;
    font-weight: 400;

    padding: 10px 15px;
    cursor: pointer;

    &--active {
      border-bottom: 5px solid $subcolor;
    }
  }
}

@include adaptive(mobile) {
  .tabs__item {
    font-size: 0.9em;
  }
}

.guestbook__tab {
  display: none;

  &--active {
    display: block;
  }
}

.special__tab {
  display: none;

  &--active {
    display: block;
  }
}
