.stock {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  //border: 1px solid $subcolor;
  box-sizing: border-box;
  width: 100%;
  //margin-bottom: 20px;
  &__bg {
    position: relative;
    background: url("/images/stock/bg-1.jpg") no-repeat 50%;
    background-size: cover;
    opacity: 0.6;
    height: 172px;
    width: 100%;
  }
  &__container {
    position: relative;
    margin-bottom: 20px;
  }
  &__title {
    font: {
      family: $font;
      size: 36px;
      weight: 700;
    }
    color: $subcolor;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__description {
    font: {
      family: $font;
      size: 24px;
      weight: 400;
    }
    text-align: center;
  }
  &__link {
    display: block;
    width: 90%;
    height: 50px;
    background: linear-gradient(to bottom, $redcolor, #F78181);
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font: {
      family: $font;
      size: 24px;
      weight: 400;
    }
    color: white;
    border-radius: 25px;
    &:hover {
      background: linear-gradient(to bottom, $redcolor, #F5A9A9);
    }
  }
  &__image {
    width: 200px;
  }
}
@include adaptive(pad) {
  .stock {
    &__title {
      font-size: 24px;
    }
    &__description {
      font-size: 18px;
    }
    &__link {
      font-size: 18px;
    }
  }
}
@include adaptive(mobile) {
  .stock {
    flex-direction: column;
    &__bg {
      height: 190px;
    }
    &__title {
      font-size: 22px;
      line-height: 26px;
    }
    &__description {
      font-size: 18px;
    }
    &__link {
      font-size: 16px;
    }
    &__image {
      display: none;
    }
  }
}