.rewiew__text {
  position: relative;

  font: {
    family: $font;
    size: 1.2em;
    weight: 400;
  }

  background-color: #BDBDBD;
  border-radius: 15px;
  padding: 15px;

  &::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 45px;

    width: 0px;
    height: 0px;

    border-right: 30px solid #BDBDBD;
    border-bottom: 30px solid #BDBDBD;
    transform: rotate(45deg);
  }
}