.stock__bg {
  position: relative;

  background: url("/src/common.blocks/stock/img/inmax-bg.jpg") no-repeat 50%;
  background-size: cover;

  opacity: 0.6;

  height: 172px;
  width: 100%;
  border-radius: 5px;
}