.modal-call {
  position: absolute;
  left: 45%;
  top: 35%;
  z-index: 5;
  display: none;

  padding: 10px;

  box-sizing: border-box;
  width: 470px;

  border: 2px solid $mediumgray;
  background-color: #ffffff;
}