.index-message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $subcolor;
  border-radius: 2px;
  &__title {
    padding: 10px;
    font: {
      family: $font;
      size: 1.3em;
      weight: 700;
    }
    color: $redcolor;
    text-align: center;
  }
  &__text {
    font: {
      family: $font;
      size: 1.1em;
      weight: 400;
    }
    color: #000000;
    padding: 0 40px;
  }
  &__holiday {
    font: {
      family: $font;
      size: 1.3em;
      weight: 700;
    }
    color: $redcolor;
    text-align: center;
  }
}
@include adaptive(mobile) {
  .index-message {
    padding: 5px;
    &__text {
      padding: 0 10px;
    }
    &__holiday {
      font-size: 1em;
    }
  }
}