.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
  &-container {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    position: relative;
  }
  &__info {
    text-align: right;
  }
  &__list {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__list-item {
    font: {
      family: $font;
      style: normal;
      size: 1em;
      weight: 400;
    }
    padding-bottom: 2px;
  }
  &__list-link {
    font: {
      family: $font;
      style: normal;
      size: 1em;
      weight: 400;
    }
    color: #000000;
    text-decoration: none;
    &--big {
      font-size: 1.5em;
    }
  }
  &-top-proposition {
    order: 2;
    &__action {
      font: {
        family: $font;
        size: 2em;
        style: normal;
        weight: 500;
      }
      text-align: center;
      color: $redcolor;
    }
    &__footnote {
      font: {
        family: $font;
        size: 1em;
        style: normal;
        weight: 300;
      }
      color: $redcolor;
      text-align: center;
    }
  }
}
.proposion__star {
  color: $redcolor;
  vertical-align: super;
}
img.logo__img {
  position: absolute;
  width: 400px;
  margin: auto;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.header-top-nav {
  height: 40px;
  width: 100%;
  background: $primarycolor;
  position: sticky;
  top: 3px;
  display: flex;
  justify-content: center;
  order: 3;
    &__ul {
      list-style-type: none;
      padding: 0px;
      width: 980px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
    }
    &__li {
      float: left;
        &:last-child a {
          border-right: none;
          border-bottom: none;
        }
    }
    &__link {
      font: {
        family: $font;
        style: normal;
        size: 1em;
        weight: 100;
      }
      color: #ffffff;
      display: block;
      width: 140px;
      text-align: center;
      text-decoration: none;
      line-height: 40px;
      border-right: 1px solid $nav-border-color;
      box-sizing: border-box;
        &--mobile {
            display: none;
            position: relative;
            width: 100%;
            height: 40px;
            font: {
              family: $font;
              style: normal;
              size: 1em;
              weight: 100;
            }
            background: $subcolor;
            color: #ffffff;
            line-height: 40px;
            padding-left: 10px;
            text-decoration: none;
            &:after {
              content: '';
              background: url('../modules/header/img/nav-icon.png') no-repeat;
              position: absolute;
              top: 10px;
              right: 15px;
              width: 30px;
              height: 30px;
            }
          }
        &:hover {
          background: $subcolor;
        }
    }
}
@include adaptive(pad) {
  .header-top-nav {
    height: auto;
    position: relative;
      &__ul {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
      }
      &__li {
        width: 50%;
      }
      &__link {
        width: 100%;
        border-bottom: 1px solid $nav-border-color;
        line-height: 30px;
          &--mobile {
            display: none;
          }
      }
  }
}
@include adaptive(mobile) {
  .header {
    flex-direction: column;
    order: 2;
     &__logo {
        width: auto;
      }
    &-top-proposition {
      order: 3;
      &__action {
        font: {
          size: 1em;
        }
      }
      &__footnote {
        font: {
          size: 0.9em;
        }
      }
    }
  }
  img.logo__img {
    position: static;
    max-width: 100%;
  }
  .header-top-nav {
    display: none;

  }
}

//todo оживить меню