.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
  &-container {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    position: relative;
    height: auto;
    width: 400px;
  }
  &__info {
    text-align: right;
  }
  &__list {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__list-item {
    font: {
      family: $font;
      style: normal;
      size: 1em;
      weight: 400;
    }
    padding-bottom: 2px;
  }
  &__list-link {
    font: {
      family: $font;
      style: normal;
      size: 1em;
      weight: 400;
    }
    color: #000000;
    text-decoration: none;
    &--big {
      font-size: 1.5em;
    }
  }
  &-top-proposition {
    order: 2;
    &__action {
      font: {
        family: $font;
        size: 2em;
        style: normal;
        weight: 500;
      }
      text-align: center;
      color: $redcolor;
    }
    &__footnote {
      font: {
        family: $font;
        size: 1em;
        style: normal;
        weight: 300;
      }
      color: $redcolor;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
.proposion__star {
  color: $redcolor;
  vertical-align: super;
}
img.logo__img {
  position: absolute;
  width: 400px;
  margin: auto 0;
  top:0;
  bottom:0;
}
@include adaptive(mobile) {
  .header {
    flex-direction: column;
    order: 2;
    &-container {
      padding: 0 10px;
    }
     &__logo {
        width: auto;
      }
    &-top-proposition {
      order: 3;
      &__action {
        font: {
          size: 1em;
        }
      }
      &__footnote {
        font: {
          size: 0.9em;
        }
      }
    }
  }
  img.logo__img {
    position: static;
    max-width: 100%;
  }
}