@using autobagaz
@model autobagaz.PaginationViewModel
@addTagHelper "*, autobagaz"

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{await Html.RenderPartialAsync("_Worktime");}



@foreach (var city in Model.Shops)
{
    <p>@city.AUTOBAGAZ_SHOP_NAME</p>
    <p>@city.City.AUTOBAGAZ_CITY_NAME</p>



}


<pagination pagination="Model.Pagination" page-action="Contacts"></pagination>
