@model IEnumerable<autobagaz.City>

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contacts</h1>

@{await Html.RenderPartialAsync("_Worktime");}

@*@Html.DropDownListFor(model => model, ViewBag.Cities as SelectList, new { @class = "form__select   " })*@

@foreach (var city in Model)
{

}



<table class="table">

    <tbody></tbody>
</table>
