@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<User>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var user in Model)
{
    <p>@user.Id</p>
    <p>@user.Name</p>
    <p>@user.Age</p>
}