.breadcrumbs {
  padding: 5px 15px;
  display: flex;
  order: 3;
  //margin-top: 5px;
  background-color: #A4A4A4;
  &__link {
    font: {
      family: $font;
      size: 1em;
      weight: 400;
    }
    color: #000;
    text-decoration: none;
    padding: 0px 10px;
    &:first-child {
      padding-left: 0px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__text {
    font: {
      family: $font;
      size: 1em;
      weight: 400;
    }
    color: #000;
    padding: 0px 10px;
  }
}