.rewiew__name {
  font: {
    family: $font;
    size: 1.3em;
    weight: 500;
  }

  color: #ffffff;

  margin-bottom: 10px;
  padding: 20px 30px 10px;

  background-color: $subcolor;
  border-radius: 10px;
}