.speech__right {
  color: #000;
  background-color: #82fa58;
  border: 1px solid #82fa58;
  margin-bottom: 60px;

  &::before {
    content: '';
    position: absolute;
    bottom: -49px;
    right: 50px;
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-top: 50px solid #82fa58;
  }
}