.sertificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    border: 1px solid $mediumgray;
    border-radius: 5px;
    padding: 20px 25px;
    margin: 15px 0;
    box-sizing: border-box;
  }

  &__link {
    font-size: 1em;
    text-decoration: none;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background: $subcolor;
      transition: width 0.3s;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__icon {
    font-size: 1.5em;
    color: #666;
    margin-right: 10px;

    &--red {
      color: $redcolor;
    }
  }
}

@include adaptive(pad) {
  .sertificates {
    &__link {
      font-size: 0.9em;
    }
  }
}

@include adaptive(mobile) {
  .sertificates {
    justify-content: space-between;

    &__item {
      width: 100%;
      padding: 15px 10px;
    }

    &__link {
      font-size: 0.8em;
    }
  }
}
