.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__img {
    width: 400px;

    &--small {
      width: 250px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
  }

  &__info {
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid $mediumgray;
    text-align: right;

    &:first-child {
      border-left: none;
    }
  }

  &__link {
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;

    &--big {
      font-size: 1.5em;
    }
  }

  &__list {
    margin: 10px 0 10px 0;
  }

  &__logo {
    width: 400px;
    align-self: center;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    width: 1220px;
    margin: 0 auto;
  }
}

@include adaptive(pad) {
 .header {
   &__wrap {
     width: 100%;
     margin: 0 15px;
   }

   &__inner {
     justify-content: flex-end;
   }

   &__list {
     font-size: 0.9em;
   }

   &__link {
     font-size: 0.9em;

     &--big {
       font-size: 1.3em;
     }
   }
 }
}

@include adaptive(mobile) {
  .header {
    &__wrap {
      flex-direction: column;
      width: 100%;

      margin: 0 10px;
    }

    &__inner {
      display: block;
      padding: 0;
    }

    &__info {
      padding-left: 0;
      margin-left: 0;
      border-left: none;
    }

    &__logo {
      width: 100%;
    }

    &__img {
      width: 100%;

      &--small {
        margin-bottom: 15px;
      }
    }
  }
}
