.top-header {
  width: 100%;
  background-color: $subcolor;
  height: 60px;

  &__inner {
    display: flex;
    align-items: center;

    width: 1220px;
    height: 100%;

    margin: 0 auto;
    padding: 5px 0;
    box-sizing: border-box;
  }

  &__address {
    font: {
      family: inherit;
      size: 1em;
      weight: inherit;
      style: italic;
    }
    color: white;
    margin-right: auto;
  }

  &__shop {
    margin-right: 30px;

    &:last-child {
      margin-right: auto;
    }
  }

  &__shop-address {
    font: {
      family: inherit;
      size: 1em;
      weight: inherit;
    }
    color: #ffffff;
  }

  &__shop-phone {
    font: {
      family: inherit;
      size: 1em;
      weight: inherit;
    }
    color: #ffffff;
    border-bottom: 1px dashed #fff;
    text-decoration: none;
  }
}
