.top-header-auth {
  position: sticky;
  top: 0;
  z-index: 5;

  width: 100%;
  background-color: $subcolor;
  height: 60px;

  cursor: pointer;

  &__inner {
    display: flex;
    align-items: center;

    width: 1220px;
    height: 100%;

    margin: 0 auto;
    padding: 5px 0;
    box-sizing: border-box;
  }

  &__address {
    font: {
      family: inherit;
      size: 1em;
      weight: inherit;
      style: italic;
    }
    color: white;
    margin-right: auto;
  }

  &__shop {
    margin-right: 30px;
    text-align: center;
  }

  &__shop-last-child {
    margin-right: auto;
  }

  &__shop-address {
    display: block;
    font: {
      family: inherit;
      size: 1em;
      weight: inherit;
    }
    color: #ffffff;
    text-decoration: none;
  }

  &__shop-phone {
    font: {
      family: inherit;
      size: 1em;
      weight: inherit;
    }
    color: #ffffff;
    border-bottom: 1px dashed #fff;
    text-decoration: none;
  }

  &__logo {
    width: 55px;
  }

  &__link {
    margin-right: auto;
  }

  &__icon {
    color: #ffffff;
  }
}

@include adaptive(pad) {
  .top-header-auth {
    height: fit-content;

    &__inner {
      width: 100%;
      padding: 5px 15px;
    }

    &__shops {
      display: flex;
    }

    &__shop {
      margin-right: 15px;
    }
  }
}

@include adaptive(mobile) {
  .top-header-auth {
    position: static;

    width: 100%;
    height: fit-content;
    margin: 0;

    &__inner {
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 5px 10px;
    }

    &__link {
      margin-right: 0;
      margin-bottom: 5px;
    }

    &__shops {
      margin-bottom: 10px;
    }

    &__shop-last-child {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
