
.catalog {
	display: grid;
	grid-template-rows: 260px 260px;
	grid-template-columns: 190px 190px 190px 190px;
	grid-row-gap: 0px;
}

div.catalog {
	text-align: center;
}

.menu_item {
	border: 2px solid #D8D8D8;
	margin: 0 10px 0 10px;
	height: 250px;
	width: 180px;
}

.item_image {
	top: 5%;
	left: 0%;
}

.item_link  {
	position: relative;
	bottom:20%;
}

.menu_item a {
	text-decoration: none;
}
.menu_item a:hover {
	text-decoration: underline;
}