div.rewiew {
	margin: 5px 2px;
	height: auto;
	width: 98%;
	display: block;
}

span.rewiew {
	font-family: HelveticaRegular;
	font-size: 1em;
	font-weight: 300;
	line-height:1;
}

p.rewiew {
	font-family: HelveticaRegular;
	font-size: 1em;
	font-weight: 300;
	padding: 5px;
}

div.name {
	width: 100%;
	background: #367347;
	text-align: center;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rewiew_button {
	background: linear-gradient(#367347, #088A08, #367347);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#367347', endColorstr='#088A08');
	margin: 7px;
	padding: 3px 7px;
	border-radius: 5px;
	border: 1px solid #A4A4A4;
	min-width: 190px;

}

div.rewiew_button_back {
	text-align: center;
}

.rewiew_button a {
	text-decoration: none;
}