.sales {
	display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.sale  {
  width: 220px;
  border: 1px solid black;
  margin: 0px 5px 0px 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sale_img {
  padding: 5px 10px 5px 10px;
  width: 200px;
}

.sale_button, .sale_price {
  text-align: center;
}

.strike_price {
  text-decoration: line-through;
	color: red; 
}

.sale_button button {
	background: linear-gradient(#367347, #088A08, #367347);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#367347', endColorstr='#088A08');
	margin: 3px;
	padding: 3px 7px;
	border-radius: 5px;
	border: 1px solid #A4A4A4;
}

.sale_button a {
	text-decoration: none;
}

@media screen and (max-width: 480px) {
	.sale_img {
		width: 170px;
	}
}