@model autobagaz.LoginViewModel

@{
    ViewData["Title"] = "Войти";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

    <div class="auth__wrapper">
        <div class="auth__content">
            <h1 class="title title-h1">@ViewData["Title"]</h1>
            <div class="auth__form-wrap">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "auth__form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    Html.ValidationSummary(true, "", new { @class = "good-message good-message--wrong" });

                    <div class="form__input-wrap">
                        @Html.EditorFor(m => m.USERNAME, new { htmlAttributes = new { @class = "form__input" } })
                        <span asp-for="USERNAME" class="form__placeholder">Имя пользователя</span>
                    </div>
                    <div class="form__input-wrap">
                        @Html.EditorFor(m => m.PASSWORD, new { htmlAttributes = new { @class = "form__input" } })
                        <span asp-for="USERNAME" class="form__placeholder">Пароль</span>
                    </div>
                    <input type="submit" value="Войти" class="button button__zakaz" />
                }
            </div>
        </div>
    </div>
